/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background-color: #f0f0f0;
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.primary-nav {
  display: flex;
  background-color: #ffffff;
}

/* Nav Styles */
.primary-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #000;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: end;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover {
  background: #000;
  color: #fff;
}

/* Content */

.content {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

.content div {
  max-width: 800px;
}

.content ul {
  list-style-type: square;
  padding-left: 2rem;
  margin-top: 1rem;
}

.content ul li {
  margin-bottom: 1rem;
}

.content h2 {
  margin-top: 3rem;
}

.content h3 {
  margin-top: 0.5rem;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
  }

  .nav-toggle {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
    color: #fff;
  }

  .primary-nav {
    background-color: #000;
  }

  .nav-toggle {
    color: #fff;
  }

  .nav-links a {
    color: #fff;
  }

  .nav-links a:hover {
    background: #fff;
    color: #000;
  }
}
