
/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background-color: #f0f0f0;
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.primary-nav {
  display: flex;
  background-color: #ffffff;
}

/* Nav Styles */
.primary-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #000;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: end;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover {
  background: #000;
  color: #fff;
}

/* Resume - Content  */

.content {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content div {
  max-width: 800px;
  padding-bottom: 4rem;
}

.content ul {
  list-style-type: square;
  padding-left: 2rem;
  margin-top: 1rem;
}

.content ul li {
  margin-bottom: 1rem;
}

.content h1 {
  margin-top: 1rem;
}

.content h2 {
  margin-top: 1rem;
}

.content h3 {
  margin-top: 0.5rem;
}

/* Apps Content */

.app-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.app-content div {
  padding-bottom: 4rem;
}

.app-content a {
  color: #000;
}

.app-content a:hover {
  color: #fff;
  background-color: #000;
}

.app-content .app-card {
  border: 2px solid #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.app-content .app-card-content {
  display: block;
  margin-right: 2rem;
}

.app-content ul {
  list-style-type: square;
  padding-left: 2rem;
}

.app-content ul li {
  margin-bottom: 1rem;
}

.video-container {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
}
.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.4s ease,
      opacity 0.3s ease;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
  }

  .nav-toggle {
    display: block;
  }
}

@media (max-width: 800px) {
  .app-content .app-card {
    display: block;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
    color: #fff;
  }

  .primary-nav {
    background-color: #000;
  }

  .nav-toggle {
    color: #fff;
  }

  .nav-links a {
    color: #fff;
  }

  .nav-links a:hover {
    background: #fff;
    color: #000;
  }

  .app-content a {
    color: #fff;
  }

  .app-content a:hover {
    color: #000;
    background-color: #fff;
  }

  .app-content .app-card {
    border: 2px solid #f0f0f0;
  }
}
