---
import Header from "../layouts/Header.astro";
---

<Header>
  <div class="w-screen h-screen">
    <embed
      src="/Resume_MichaelJWest.pdf"
      type="application/pdf"
      class="w-screen h-screen block"
    />
  </div>
</Header>
